@page "/"
@inherits IndexBase
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr />

<h1>Data binding in Blazor example</h1>
<div>
    <h3>One way data binding on form controls</h3>
    Employee first name:
    <input value="@Employee.FirstName" />
    Employee last name:
    <input value="@Employee.LastName" />
</div>

<br />

<div>
    <h3>Two way data binding</h3>
    Employee first name:
    <input @bind="@Employee.FirstName" />
    Employee last name:
    <input @bind="@Employee.LastName" />
</div>

<br />

<div>
    <h3>Two way data binding on different event</h3>
    Employee first name:
    <input @bind-value="@Employee.FirstName" @bind-value:event="oninput" />
    Employee last name:
    <input @bind-value="@Employee.LastName" @bind-value:event="oninput" />
</div>

<br />

<div>
    <button @onclick="Button_Click">Change First Name</button>
</div>
